@font-face {
    font-family: Product Sans;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(Fonts/Product\ Sans\ Bold.ttf);
}

*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: Product Sans;

}



html,

body{

    height: 100%;

    width: 100%;

  }



  body::-webkit-scrollbar{

    display : none;

  }



#main{

    width: 100%;

    height: 100vh;

    background: orangered;

}



.nav-container{

    position: fixed;

    display: flex;

    align-items: center;

    justify-content: space-between;

    width: 100%;

    height: 10vh;

    z-index: 99;

  }

  .nav-container a{

    color: white;

    text-decoration: none;

    font-size: 24px;

  }



  .nav-menu{

    display: flex;

    gap: 50px;

    }



  .nav-container img{

    width: 25px;

    height: 25px;

    object-fit: cover;



  }



  .hero{

    display: flex;

    align-items: center;

    justify-content: center;

    width: 100%;

    height: 100vh;

    background: linear-gradient(
  250deg,
  rgb(17, 107, 192),
  rgb(255, 200, 80)
);


 }



 .hero h1{

    color: white;

    font-size: 25vw;

    }



 #fanta{

    position: absolute;

    width: 40%;

    z-index: 2;

 }

#laranja-cortada{

    position: absolute;

    width: 15%;

    top: 10%;

    left: 32%;

    z-index: 2;  

}

#laranja{
    position: absolute;

    width: 20%;

    top: 55%;

    z-index: 3;  

    right: 30%;
}
#folha{
        top: 10%;
        left: 0%;
        width: 18%;
        transform: rotate(60deg);
        position: absolute;

    }

#folha2{
    position: absolute;
    top: 70%;
    width: 12%;
    left: 80%;
    transform: rotate(-90deg);
}
   

#folha3{
        top: 10%;
        right: 0%;
        width: 20%;
        position: absolute;
        }

.two{
  display: flex;
  width: 100%;
  height: 100vh;
  background: #90b73b;
}

.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.left-side svg{
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(50deg);


}

.right-side h2{
  color: #fff;
  font-size: 5vw;
}

.right-side p{
  color: #fff;
  font-size: 1vw;
  width: 80%;
 
}


.three{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vw;
    background: linear-gradient(
  250deg,
  rgb(17, 192, 96),
  rgb(255, 200, 80)
);
   
}

.card{
  position: relative;
  display: flex;
  background: #fff;
  align-items: center;
  width: 25vw;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  height: 70vh;
  margin-top: 10vh;
  border-radius: 20px;
}

.card h3{
  margin-top: 40vh;
  font-size: 3vw;
  color: #ff0000
}
.card button{
  font-size: 1vw;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 166, 0, 0);
  color: #fff;
  padding: 1vw 2vw;
}


#cocacola{
  position: absolute;
  width: 100%;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#pepsi{
  position: absolute;
  width: 100%;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.lemon{
  position: absolute;
  width: 25vw;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

